**.egg-info
**/__pycache__/**
data
.llm_cache
.embedding_cache
logging
profile.html
profile.json
.image_cache
.img_embedding_cache
.vision_model_cache
profile.out
**.db
**.tar.gz
.python-version
.venv/
uv.lock
**/memory_report.yaml
**.pdf
SemBench/
tmp_kvcache_plots/
.devcontainer/
debug_outputs/
nohup.out
scripts/kill_servers.sh
